.IPL
{
  display: flex;
flex-wrap: wrap;
  justify-content: space-around;
}

body
{
  background-color: aquamarine;
}

img
{
  width: 250px;
  height: 250px;
  
}
h3
{
  background-color: antiquewhite;
  width: 250px;
  margin: 0px;
}
.App
{
text-align: center;
}

.IPL>div{
  border: 2px solid black;
}
h1
{
  background-color: blanchedalmond;
  border: 2px solid black;
}